
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    margin: 0;
    background-image: url(images/leila-issa-4C_k18o_tnk-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    font-family: 'Mooli', sans-serif;
}

#content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header, .tabs-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: tan;
    padding: 25px;
    gap: 20px;
}

.header {
    align-items: center;
    background-color: tan;
}

.header>div, .tabs {
    font-size: 25px;
}

.home-content {
    width: 30%;
    margin: 20% auto;
    background-color: tan;
    padding: 15px;
    border-style: solid;
    border-color: tan;
    border-radius: 25px;
}

.home-content>h1 {
    font-size: 48px;
}

.menu-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 25px;
    font-family: 'Mooli', sans-serif;
    font-size: 36px;
    width: 75%;
    margin: auto;
}

.menu-items-wrapper>* {
    height: 150px;
    background-color: tan;
    padding: 15px;
    border-style: solid;
    border-color: tan;
    border-radius: 25px;

}