body {
    margin: 0;
    background-image: url(images/leila-issa-4C_k18o_tnk-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
}

#content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header, .tabs-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: tan;
    padding: 25px;
    gap: 20px;
}

.header {
    align-items: center;
    background-color: tan;

}

